<div class="container">
  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Join the best dating app ever</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">Get started for free</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis cumque fugit reiciendis, doloremque aliquam officiis praesentium, magnam perferendis non autem eum dolores debitis ea laborum error quam similique unde odio?</p>
      </div>
    </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Sign Up Today</h4>
      </div>
      <div class="card-body">
        <%# <%= render ="" %>
        <%# <button type="button" class="btn btn-lg btn-block btn-primary">Get started</button> %>
      </div>
    </div>
  </div>
</div>